<ion-view view-title="Recruitment Board - Project Group 12">
	<ion-content>
	<button class="button button-block button-dark add-position" ng-click="openModal(3)">Add a position!</button>
	<div class="list">
	  <div class="item item-divider position-type">Front-end Programmer</div>
	  <a class="item item-thumbnail-left position-member" href="#">
	  		<img src="img/propic.jpg">
	  		<h2>Elvis Wong</h2>
	  		<p>Full-stack programmer. Especially in front-end development by using AngularJS.</p>
	  </a>
	  <a class="item item-icon-left apply-position-button" href="#">
    	<p>Click to apply!</p>
  	  </a>
	</div>
	</ion-content>
</ion-view>