<ion-modal-view>
  <form ng-submit="doModal()">
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Create Group</h1>
    
    <div class="buttons">
      <button class="button button-clear" type="submit" ng-click="successModal()">Create</button>
    </div>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="list create-post">
        <label class="item item-input create-post-title">
          <input type="text" ng-model="postData.title" placeholder="Job Title">
        </label>
        <div class="item item-input create-post-category item-icon-right">
            <input type="text" ng-model="postData.category" placeholder="Add Major Requirements...">
            <i class="icon ion-android-arrow-dropdown-circle" ></i>
        </div>
        <div class="add-category" ng-click="addRole()">
              <i class="icon ion-plus-round"></i>
            </div>
        <label class="item item-input create-post-details">
          <div class="propic">
              <img src="img/apply-pos-hdpi.png">
            </div>
          <textarea ng-model="postData.details"></textarea>
          <p class="placeholder-text">Please input some position information...</p>
        </label>
        <label class="item item-input create-group-setting">
          <i class="icon ion-pricetag"><a href="#/menu/post"></a></i>
          <!-- <li class="item private-toggle">
              Private:
             <label class="toggle toggle-assertive">
                <input type="checkbox">
                  <div class="track">
                  <div class="handle"></div>
                </div>
             </label>
          </li> -->
        </label>
        
      </div>
  </ion-content>
  </form>
</ion-modal-view>
