<ion-view view-title="Recruitment Board">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon button-clear" ng-click="openModal()"><i class="icon ion-more"></i></button>
  </ion-nav-buttons>
	<ion-content>
	<div class="list">
		<div class="card member-box-decoration-1">
			<div class="member-box">
				<div class="member-box-left">
					<img src="img/propic.jpg">
					<div class="leader-icon">
						<img src="img/boss-hdpi.png" />
					</div>
				</div>
				<div class="member-box-right">
					<h2 class="member-title">Mobile Developer</h2>
					<p class="member-requirement">-HKUST Computer Science</p>
					<p class="member-requirement">-5 years experiences in mobile app development</p>
				<i class="icon ion-ios-information-outline member-icon-info"></i>

				</div>
				<div class="clearBoth"></div>
			</div>
  		</div>

  		<div class="card job-position">
			<div class="member-box">
				<div class="member-box-left">
					<img src="img/apply-pos-hdpi.png">
				</div>
				<div class="member-box-right">
					<h2 class="member-title">Apply for Programmer</h2>
					<p class="member-requirement">-Design and develop applications in Objective C, Java, C#, php</p>
					<p class="member-requirement">-Enthusiastic in self-learning</p>
				</div>
				<div class="clearBoth"></div>
				<i class="icon ion-ios-information-outline member-icon-info"></i>
			</div>
  		</div>

  		<div class="card member-box-decoration-2">
			<div class="member-box">
				<div class="member-box-left">
					<img src="img/team_member2.jpg">
				</div>
				<div class="member-box-right">
					<h2 class="member-title">Business Developer</h2>
					<p class="member-requirement">-HKUST Computer Science</p>
					<p class="member-requirement">-5 years experiences in mobile app development</p>
				</div>
				<div class="clearBoth"></div>
				<i class="icon ion-ios-information-outline member-icon-info"></i>
			</div>
  		</div>

  		<div class="card job-position">
			<div class="member-box">
				<div class="member-box-left">
					<img src="img/apply-pos-hdpi.png">
				</div>
				<div class="member-box-right">
					<h2 class="member-title">Apply for Marketing Specialist</h2>
					<p class="member-requirement">-Be the chairman in community management</p>
					<p class="member-requirement">-Be responsible for the result of external agencies and partners</p>
				</div>
				<div class="clearBoth"></div>
				<i class="icon ion-ios-information-outline member-icon-info"></i>
			</div>
  		</div>

  		<div class="card member-box-decoration-3">
			<div class="member-box">
				<div class="member-box-left">
					<img src="img/team_member3.jpg">
				</div>
				<div class="member-box-right">
					<h2 class="member-title">Designer</h2>
					<p class="member-requirement">-HKUST Computer Science</p>
					<p class="member-requirement">-5 years experiences in mobile app development</p>
				</div>
				<div class="clearBoth"></div>
				<i class="icon ion-ios-information-outline member-icon-info"></i>
			</div>
  		</div>

  		<div class="card job-position">
			<div class="member-box">
				<div class="member-box-left">
					<img src="img/apply-pos-hdpi.png">
				</div>
				<div class="member-box-right">
					<h2 class="member-title">Apply for Operation Manager</h2>
					<p class="member-requirement">-Be the chairman in community management</p>
					<p class="member-requirement">-Be responsible for the result of external agencies and partners</p>
				</div>
				<div class="clearBoth"></div>
				<i class="icon ion-ios-information-outline member-icon-info"></i>
			</div>
  		</div>
	</div>
	</ion-content>
</ion-view>