<ion-modal-view>
  <form ng-submit="doModal(1)">
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Create Post</h1>
    
    <div class="buttons">
      <button class="button button-clear" type="submit" ng-click="successModal(1)">Post</button>
    </div>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal(1)">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="list create-post">
        <label class="item item-input create-post-title">
          <input type="text" ng-model="postData.title" placeholder="Title">
        </label>
        <div class="item item-input create-post-category item-icon-right">
            <input type="text" ng-model="addCatItem" placeholder="Category..." />
          <div type="button" class="add-category" ng-click="addCategory()">
                <i class="icon ion-plus-round"></i>
          </div>
        </div>
        <div width="100%">
            <select>
              <option ng-repeat="category in categories">{{ category.name }}</option>
            </select>
        </div>
        <label class="item item-input create-post-details">
          <div class="propic">
              <img src="img/propic.jpg">
            </div>
          <textarea ng-model="postData.details"></textarea>
          <p ng-show="postData.details" class="placeholder-text">What's on your mind?</p>
        </label>
        <label class="item item-input create-post-attachment">
          <i class="icon ion-ios-camera"><a href="#/menu/post"></a></i>
          <i class="icon ion-pricetag"><a href="#/menu/post"></a></i>
          <i class="icon ion-happy-outline"><a href="#/menu/post"></a></i>
          <i class="icon ion-ios-location"><a href="#/menu/post"></a></i>
        </label>
        
      </div>
  </ion-content>
  </form>
</ion-modal-view>
