<ion-modal-view>
  <form ng-submit="doModal()">
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Create Group</h1>
    
    <div class="buttons">
      <button class="button button-clear" type="submit" ng-click="successModal()">Create</button>
    </div>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="list create-post">
        <div class="item item-input create-post-category item-icon-right">
            <input type="text" ng-model="data.newPosition" placeholder="Add Position...">
          <div type="button" class="button button-balanced add-category" ng-click="addPosition(data)">
                <i class="icon ion-plus-round"></i>
          </div>
        </div>
        <div class="select-balanced select-category-field">
            <select ng-model="PickPosition" ng-options="position.title for position in positionData">
              <option title="---Select Position---" value="">---Select Position---</option>
            </select>
        </div>
        <h2 ng-show="PickPosition.title">Please type in some requirement for the position - {{position.title}}</h2>
        <div>
        <div ng-repeat="position in positionData" ng-show="position.title==PickPosition.title">
          <label class="item item-input create-post-details">
            <div class="propic">
                <img src="img/propic.jpg">
              </div>
            <textarea ng-model="positionData[$index].requirement" required></textarea>
          </label>
            <!-- <p ng-show="category.name" class="placeholder-text">What's on your mind?</p> -->
          <label class="item item-input create-group-setting">
          <i class="icon ion-pricetag"><a href="#/menu/post"></a></i>
        </div>
        
          <!-- <li class="item private-toggle">
              Private:
             <label class="toggle toggle-assertive">
                <input type="checkbox">
                  <div class="track">
                  <div class="handle"></div>
                </div>
             </label>
          </li> -->
        </label>
        <div>
        
      </div>
  </ion-content>
  </form>
</ion-modal-view>
