<ion-view view-title="groups">
  <ion-content>
  <ion-slide-box ng-init="cardRotate=[]">
    <ion-slide>
    <div class="list card group-card" ng-class="{rotate:cardRotate[0]===1}" ng-click="(cardRotate[0]===1) ? (cardRotate[0]=0) : (cardRotate[0]=1)">

  <div class="item item-avatar">
    <h2>Project Group 12</h2>
    <p>Never too young to be crazy!</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/group_1.jpg">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>
      <a href="#" class="subdued">1 Creditabilites</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-social-hackernews"></i>
      Discussion
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Chatroom
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-settings"></i>
      Management
    </a>
 	 </div>

	</div>
	</ion-slide>
	<ion-slide>
    <div class="list card" ng-class="{rotate:cardRotate[0]===1}" ng-click="(cardRotate[0]===1) ? (cardRotate[0]=0) : (cardRotate[0]=1)">

  <div class="item item-avatar">
    <h2>Project Group 12</h2>
    <p>Never too young to be crazy!</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/group_2.png">
    <p>
      "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
    </p>
    <p>
      <a href="#" class="subdued">113 Creditabilites</a>
      <a href="#" class="subdued">5573 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-social-hackernews"></i>
      Discussion
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Chatroom
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-settings"></i>
      Management
    </a>
 	 </div>

	</div>
	</ion-slide>
</ion-slide-box>
  </ion-content>
</ion-view>
