<ion-view view-title="Home">
  <ion-content>

	<section id="cd-timeline" class="cd-container" ng-repeat="post in posts">
		<div class="cd-timeline-block">
			<div class="cd-timeline-tagbox">
			<a href="#" class="tag">Category</a>
			<br>
			<br>
			<a href="#" class="tag">App</a>
			</div>
			<a href="#/menu/home/{{post.id}}" class="cd-timeline-box">
			<div class="cd-timeline-content">
				<h2>{{post.title}}</h2>
				<div class="cd-postbox">
					<i class="icon ion-thumbsup"></i>
					<span class="cd-number">{{post.like}}</span>
					<br>
					<i class="icon ion-eye"></i>
					<span class="cd-number">{{post.view}}</span>
				</div>
				<h6>{{post.author}}</h6>
				
				<span class="cd-date">{{post.date}} | {{post.time}}</span>
			</div> <!-- cd-timeline-content -->
			</a>
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
  </ion-content>
	<div class="post-footer-bar" ng-click="openModal()">
		<a class="create-post-button">
		<p>Create a new post!</p>
		</a>
	</div>
</ion-view>