<ion-view view-title="Home">
  <ion-content>

	<section id="cd-timeline" class="cd-container" ng-repeat="post in posts | orderBy:post.last_modified_time: true">
		<div class="cd-timeline-block">
			<div class="cd-timeline-tagbox">
				<div ng-repeat="tag in post.tags | limitTo:3">
					<a href="#" class="tag">{{tag}}</a>
					<br>
					<br>
				</div>
			</div>
			<a href="#/menu/home/{{post.id}}" class="cd-timeline-box">
			<div class="cd-timeline-content">
				<h2>{{post.title}}</h2>
				<div class="cd-postbox">
					<i class="icon ion-thumbsup"></i>
					<span class="cd-number">{{post.like_num}}</span>
					<br>
					<i class="icon ion-eye"></i>
					<span class="cd-number">{{post.view_num}}</span>
				</div>
				<h6>{{post.author}}</h6>
				
				<span class="cd-date">{{post.date}} | {{post.time}}</span>
				<div class="recruit-box">
					<span class="cd-recruit">Recruiting!!</span>
				</div>
			</div> <!-- cd-timeline-content -->
			</a>
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->

  </ion-content>
  <div class="fixed-button" ng-click="openButton()" ng-modal="showButton">
			<i class="icon ion-plus-round">
	</div>
	<div class="fixed-button-post" ng-click="openModal(1)" ng-show="showButton">
			<i class="icon ion-ios-copy">
	</div>
	<!-- <div class="fixed-button-group" ng-click="openModal(2)" ng-show="showButton">
			<i class="icon ion-ios-people">
	</div> -->
</ion-view>