<div class="modal">
  <ion-header-bar>
    <div class="buttons modal-close-btn">
      <button class="button button-clear button-balanced" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="login(credentials)" novalidate>
      <h4 class="login-text">Connect to your thoughts through the people who make your ideas happen.</h4>
      <p class="login-text-para">Share your big innovative ideas & enjoy the support here</p>
      <div class="list">
        <div>{{message}}</div>
        <label class="item item-input modal-login-field">
          <span class="input-label">Email</span>
          <input type="text" ng-model="credentials.email">
        </label>
        <label class="item item-input modal-login-field">
          <span class="input-label">Password</span>
          <input type="password" ng-model="credentials.password">
        </label>
          <a href="#/app/login"><p class="login-text-span">Forget your password?</p></a>
          <button class="button modal-login-btn" type="submit">Log in</button>
      </div>
    </form>
    <button ng-click="facebookLogin()" class="button modal-login-btn">Facebook Login</button>
    <button class="button" ng-click="backdoorLogin()">Backdoor login</button>
  </ion-content>
</div>