<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Account</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal(2)">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doModal(2)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="regData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="regData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="regData.password1">
        </label>
        <label class="item item-input">
          <span class="input-label">Re-type Password</span>
          <input type="password" ng-model="regData.password2">
        </label>
        <label class="item item-input item-checkbox">
          <input type="checkbox" ng-model="regData.check">
          <span class="input-label"><a href="#/app/register"><em>I agree to the terms & conditions</em></a></span>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="successModal(2)">Register for new user!</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
